body{
    width: 50%;
    margin: 0 auto;
}


h1{
    text-align: center;
    color: cadetblue;
}

p{
    text-align: center;
    font-size: 1.5em;
    font-style: italic;
    border: 1px solid cadetblue;
    padding: 6px 16px;
    border-radius: 10px;
}

#boton{
    display: flex;
}

button{
    margin: 0 auto;
    padding: 6px 16px;
    border-radius: 6px;
    border: 2px solid cadetblue;
    &:hover{
        background-color: cadetblue;
        color: white;
    }
}