#container{
    width: 50%;
    margin: 0 auto;
}

h1{
    text-align: center;
    color: rgb(19, 185, 74);

}

#addText{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2em;
    margin-top: 2em;
    background-color: burlywood;
    height: 5em;
    padding: 1em;
    border-radius: 16px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.404);
}

label{
    margin-bottom: 1em;
}

#buttons{
    display: flex;
    justify-content: center;
    gap: 2em;
}

button{
    padding: 6px 16px;
    border-radius: 8px;
    background-color: burlywood;
    border: none;
    transition: .3s ease all;
    &:hover{
        background-color: rgb(106, 155, 110);
        color: white;
    }
}

#esp{
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    text-align: center;
}

