body {
    margin: 0 auto;
}


#container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    display: flex;

    gap: 20px;
}

li {
    list-style-type: none;
}

#numVisitas {
    background-color: yellow;
    padding: 1.2em;
    border-radius: 10px;
}

button {
    background-color: rgb(88, 88, 233);
    border: 2px solid rgb(32, 32, 141);
    box-shadow: 2px 2px 2px rgb(221, 221, 221);
    color: white;
    padding: 1.1em;
    border-radius: 5px;
}

button:hover {
    box-shadow: 2px 2px 2px rgb(32, 29, 29);
    font-weight: bold;
}

#contPerfil {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contPreguntas {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
}