#container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    gap: 1.3em;
    background-color: rgba(185, 185, 185, 0.486);
    padding: 2em;
    border-radius: 1.5em;
    box-shadow: 4px 6px rgba(0, 0, 0, 0.281);
}

input{
    padding: 1.1em;
    border-radius: .4em;
}

.error {
    border: solid 2px red;
    box-shadow: 3px 2px rgba(255, 0, 0, 0.329);
}

#enviar{
    background-color: rgba(5, 158, 5, 0.582);
    color: white;
    font-weight: bolder;
}

#enviar:hover{
    box-shadow: 2px 2px rgba(0, 0, 0, 0.377);
}