body{
    margin: 0 auto;
    width: 60%;
}

#contenedor{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btn{
    width: 50%;
    margin-top: 50px;
    border-radius: 999px;
    padding: 6px 16px;
    transition: .3s ease background-color;
    transition: .3s ease font-weight;
}

#btn:hover{
    background-color: white;
    font-weight: bold;
}