#container {
    width: 50%;
    margin: 0 auto;
    font-family: 'Orbitron', monospace;
    font-weight: bolder;
}

#caja {
    margin: 0 auto;
    width: 100%;
    height: 650px;
    background-color: rgb(194, 194, 194);
    border-radius: 32px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.445);
}

#resultBox {
    padding: 12px 22px;
}

#resultado {
    height: 100px;
    background-color: rgb(20, 73, 27);
    box-shadow: 4px 4px rgba(0, 0, 0, 0.445);
    padding: 6px 16px;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 2em;
}



#teclas {
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 1em;
}

#igual {
    grid-column: span 2;
    background-color: orange;
}

#sec1 {
    width: 60%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1.2em;
    padding: 6px 16px;
}

#sec1 button {
    background-color: rgb(133, 131, 127);
    box-shadow: 2px 2px black;
    text-align: center;
    color: white;
    border-radius: 999px;
    transition: .3s ease all;
    align-content: center;
    padding: 16px 26px;
    font-family: 'Orbitron', monospace;
    font-weight: bolder;
    font-size: 1.3em;

    &:hover {
        background-color: rgb(102, 100, 97);
        box-shadow: 1px 0px black;
    }
}

#sec1 #igual {
    grid-column: span 2;
    background-color: orange;
    &:hover {
        background-color: rgb(185, 114, 8);
    }
}

#sec2 {
    width: 20%;
    display: grid;
    gap: 1.2em;
    padding: 6px 16px;
}

#sec2 button{
    text-align: center;
    background-color: orange;
    box-shadow: 2px 2px black;
    color: white;
    border-radius: 999px;
    transition: .3s ease all;
    align-content: center;
    padding: 16px 26px;
    font-family: 'Orbitron', monospace;
    font-weight: bolder;
    font-size: 1.3em;

    &:hover {
        background-color: rgb(185, 114, 8);
        box-shadow: 1px 0px black;
    }
}